h1{
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color:darkviolet ;
}
p{
    border: 5px dotted, powderblue;
    border-radius: 20px;
    border-top: 3px solid;
}